altair==5.0.1
ipython==8.14.0
librosa==0.10.0.post2
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.2
Pillow==9.5.0
Pillow==10.0.0
soundfile==0.12.1
st_login_form==0.2.0
st_pages==0.4.3
streamlit==1.24.1
streamlit_antd_components==0.1.6
streamlit_extras==0.2.7
streamlit_image_coordinates==0.1.5
streamlit_option_menu==0.3.6
streamlit_toggle_switch==1.0.2
Unidecode==1.3.6
